[Unit]
Description=Bluetooth autoconnect service for PipeWire
After=pipewire-pulse.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/bluetooth-autoconnect

[Install]
WantedBy=pipewire-pulse.service
